@import "../common/font.css";

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  font-family: 'miso';
}

input:focus {
  outline: none;
}

input,button {
  border: none;
}


.radius {
  border-radius: 0.5rem;
}

.icon {
  width: 36px;
}

label, p {
  font-size: 1.25rem;
}


.shadow {
  box-shadow:0 0 10px rgba(0, 0, 0, 0.2);
}

