@import "../common/font.css";

:root {
  --main-—darkblue: #181e4b;
  --main-—pink: #f4cfc6;
  --main--lightpink: #fff9f9;
  --main--gray: #f3f3f3;
  --main--darkgray: #7d7d7d;
  --main-—pink--hover: #e4c1b9;
  --main--tp: #f3f3f366;
  --main--orange: #df6951;
  --main--orange--hover: #b4523e;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  font-family: 'miso';
}

input:focus {
  outline: none;
}

input, button {
  border: none;
}


.radius {
  border-radius: 0.5rem;
}

.icon {
  width: 36px;
}

label, p {
  font-size: 1.25rem;
}


.shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.button {
  width: 7rem;
  height: 2.75rem;
  background-color: var(--main--orange);
  color: white;
  cursor: pointer;
}

.button:hover {
  background-color: var(--main--orange--hover);
}

.sub-btn {
  width: 7rem;
  height: 2.75rem;
  background-color: var(--main-—pink);
  color: var(--main-—darkblue);
  cursor: pointer;
  font-weight: bold;
}

.sub-btn:hover {
  background-color: var(--main-—pink--hover);
}

input[type=date] {
  background-color: transparent;
}
