@import "../common/font.css";

.color-tp {
  background-color: var(--main--tp);
}

.color-pink {
  background-color: var(--main-—pink);
}

.header {
  position: absolute;
  width: 100%;
  height: 7vh;
  display: flex;
  justify-content: center;
}

.header-content {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo {
  height: 60px;
}

.nav-list {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-item {
  cursor: pointer;
  color: var(--main-—darkblue);
  font-weight: bold;
  font-size: 1.2rem;
}

.nav-item:hover {
  border-bottom: 2px solid #df6951;
}

.login-btn{
  display: flex;
  align-items: center;
}

.login {
  display: flex;
  width: 20%;
  justify-content: space-between;
  align-items: center;
}

.user-name {
  cursor: default;
}

.material-icons-outlined {
  cursor: pointer;
  color: var(--main-—darkblue);
}

