.header {
  width: 100%;
  height: 7vh;
  background-color: var(--main--color);
  display: flex;
  justify-content: center;
}

.header-content {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo {
  height: 60px;
}

.nav-list {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-item {
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
}

.nav-item:hover {
  border-bottom: 2px solid lightslategray;
}

.login-btn{
  display: flex;
  align-items: center;
}

.login {
  display: flex;
  width: 20%;
  justify-content: space-between;
  align-items: center;
  visibility: hidden;
}

.user-name {
  cursor: default;
}

.material-icons-outlined {
  cursor: pointer;
  color: var(--main-—darkblue);
}

