@import "../common/font.css";
@import "common.css";

.container {
  font-family: 'miso';
  min-height: 605px;
}

.hidden {
  display: none;
}

.hotel-list-title {
  display: flex;
  width: 90%;
  align-content: center;
  justify-content: space-between;
  margin: 10px 0px;
  padding: 0px 15px;
}

.hotel-list-title p {
  font-size: 1.4em;
}

.hotel-list-title button {
  width: 120px;
  height: 40px;
}

.hotel-card-title {
  display: flex;
  justify-content: space-between;
}

#hotel-name {
  font-size: 1.4rem;
  font-weight: bold;
}

.hotel-card {
  display: flex;
  width: 90%;
  max-height: 270px;
  border: 1px solid #f4cfc6;
  border-radius: 10px;
  padding: 10px 10px;
  box-shadow: 2px 2px 12px #ab7b6d;
  margin: 20px 0px;
  align-items: center;
}

.hotel-img {
  width: 40%;
  border: 1px solid #f4cfc6;
  overflow: hidden; /*이미지크기가 div크기 이내이도록 제한*/
}

.hotel-img img {
  max-width: 360px;
  max-height: 250px;
  object-fit: contain; /* 이미지 비율 유지하며 박스 사이즈 맞춤*/
}

.hotel-info {
  width: 60%;
  padding-left: 20px;
}

#hotel-name {
  font-size: 1.4rem;
}

.hotel-manage {
  width: 25%;
}

.hotel-manage button {
  width: 120px;
}