@import "../common/font.css";
@import "common.css";

.content {
  width: 100%;
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 5vh 0;
}

.slider {
  width: 50%;
  height: 100%;
  border-radius: 2.5rem;
  overflow: hidden;
}

.main-img {
  width: 100%;
  height: 100%;
}

.menu {
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.date-box {
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.date {
  height: 40%;
  display: flex;
  align-items: end;
}

#nowDate {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--main--color);
  text-align: end;
}

.day-box {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nowDay {
  color: var(--main--blue);
  font-weight: bold;
  width: 30%;
  text-align: end;
}

.menu-img {
  height: 100%;
}

.main-menu-box {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-login-btn {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.main-login-btn p {
  color: var(--main--gray);
}

.main-login {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.user-name {
  color: var(--main--blue);
  font-weight: bold;
  font-size: 1.5rem;
}

.welcome-text {
  font-size: 0.75rem;
  font-weight: bold;
}

.main-btn {
  width: 10rem;
  height: 2.75rem;
  background-color: var(--main--gray-btn);
  color: var(--main--blue);
  cursor: pointer;
}

.main-btn:hover {
  background-color: var(--main--gray-btn--hover);
}

.main-logout {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: end;
}

.main-logout span:hover {
  border-bottom: 1px solid black;
}

.main-logout span {
  font-size: 0.75rem;
}

@media (max-width: 768px) {
  .cell {
    flex-direction: column; /* 모바일 화면 시 가로에서 세로 배치로 변경 */
  }

  .cell-img {
    width: 100%;
    height: auto;
  }

  .cell-comment {
    width: 100%;
    margin-top: 10px;
  }
}
