@import "../common/font.css";
@import "common.css";

.container {
  font-family: 'miso';
  display: flex;
  flex-direction: column;
  min-height: 605px;
  justify-content: center;
  align-items: center;
}

.title p{
  font-size: 1.6rem;
  margin: 1rem;
}


form {
  width: 50%;
  padding: 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

#imageUpload {
  display: none;
}

.hidden {
  display: none;
}

.room-info-div {
  display: flex;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
}

.room-img-div {
  width: 50%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-right: 7rem;
  position: relative;
  object-fit: contain;
}

label{
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

.room-img-div img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

#imgChangeIcon {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  cursor: pointer;
  font-size: 1.6rem;
  color: var(--main--color);
}

.info-div {
  align-content: center;
  gap:1rem;
}
.form-control, .form-control-file, .form-control textarea {
  width: 90%;
  padding: 0.5rem;
  border: 0.1rem solid var(--main--gray-btn);
  border-radius: 0.2rem;
  box-sizing: border-box;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap:0.5rem;
  margin-bottom: 1rem;
}

.submit-btn-div{
  display: flex;
  padding-left: 1rem;
}

textarea{
  height: 8rem;
}

.button{
  align-self: end;
}

.room-intro-div{
  padding-left: 2rem;
}