<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sysone.ddogdog.customer.auth.mapper.KakaoMapper">
    <select id="existsById" parameterType="Long" resultType="com.sysone.ddogdog.customer.auth.model.CustomerDTO">
        SELECT * FROM customers WHERE id = #{id}
    </select>
    <select id="saveCustomers" statementType="CALLABLE" parameterType="com.sysone.ddogdog.customer.auth.model.AddressCustomerDTO" >
            {call insert_address_and_insert_customer(
            #{fullAddress, mode=IN, jdbcType=VARCHAR},
            #{sido, mode=IN, jdbcType=VARCHAR},
            #{sigungu, mode=IN, jdbcType=VARCHAR},
            #{detailAddress, mode=IN, jdbcType=VARCHAR},
            #{kakaoId, mode=IN, jdbcType=NUMERIC},
            #{name, mode=IN, jdbcType=VARCHAR},
            #{email, mode=IN, jdbcType=VARCHAR},
            #{ageRange, mode=IN, jdbcType=VARCHAR},
            #{gender, mode=IN, jdbcType=VARCHAR}
            )}
    </select>
</mapper>