<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sysone.ddogdog.customer.member.mapper.MemberMapper">

    <select id="findFullAddressById" parameterType="Long" resultType="String">
        SELECT full_address FROM addresses WHERE id = #{id}
    </select>
</mapper>