@font-face {
  font-family: 'miso';
  font-weight: 400;
  src: url('../../font/Hakgyoansim Dunggeunmiso TTF R.ttf') format('truetype');
}

@font-face {
  font-family: 'misobold';
  font-weight: 700;
  src: url('../../font/Hakgyoansim Dunggeunmiso TTF B.ttf') format('truetype');
}
